 <section class="main-body">
        <div class="left">
           
                <ul class="sidebar-ul">
                    <% config.category.forEach(function(category) {  %>
                    <li class="nav-item sidebar">
                        <% var url= "/categories/"+category+"/" %>
                        <a href=<%= url %> class="link">
        <i class="fa fa-jsfiddle" aria-hidden="true"></i>
        <%= category %>
      </a>
                    </li>
                    <% }) %>
                   
                </ul>
            
       </div>
        <div class="main">
            <div class="list-box  shadow ">
                <ul>
                    <% page.posts.each(function(post){ %>
                    <li class="article-item">
                            <a href="<%- url_for(post.path) %>" >                      
                            <div class="article-box">
                            <div class="box-image">
                            </div>
                            <div class="box-right">
                            <div class="title">
                            <%= post.title %>
                            </div>
                            <div class="info">
                            <% var date=post.date   %>
                            <% date=JSON.stringify(date,null,'\t').substr(1,10) %>
                           
                            <%= date %>
                            </div>
                            </div>
                            </div>
                            </a>
                    </li>
                     <% }) %>
                  
                </ul>
            </div>
            <div class="page">
            <%- paginator('/', [], {
  perPage: 10,
  format: 'page/%d/',
  layout: ['archive', 'index'],
  
}) %>
        </div>
        </div>
        <div class="right">
          <div class="social">
              <div class="slogan">
                我们在自己的世界里独自狂欢
              </div>
              <div class="link">
              <button class="btn btn-github">
              <% var githubUrl='https://github.com/'+theme.github  %>
              <a href= <%= githubUrl %> target="_blank">
             <i class="fa fa-github" aria-hidden="true"></i> GitHub
             </a>
              </button>

              <button class="btn btn-twitter">
               <% var twitterUrl='https://twitter.com/'+theme.twitter  %>
              <i class="fa fa-twitter" aria-hidden="true"></i> 
              <a href= <%= twitterUrl %> target="_blank">twitter
              </button>
              <button class="btn btn-weixin">
              <% var weixinUrl=theme.weixin %>
             <i class="fa fa-weixin" aria-hidden="true"></i> weixin
             <img src=<%= weixinUrl%> />
              </button>
              </div>
          </div>

          <div class="tag">
            <div class="btn-group">
            <% site.tags.each(function(tag,i){ %>
            <% if(i<10) { %>
            <% var tagUrl='/tags/'+tag.name  %>    
            <a href=<%= tagUrl %>  >    
            <button class="btn-tag">
            <%= tag.name %>
            </button>
            </a>
            <% } %>
            <% }) %>
            </div>
          </div>
          <div class="friends" >
          <div class="friends-header">
          <i class="fa fa-users" aria-hidden="true"></i>那些小伙伴们
          </div>
    <ul>

    <% theme.friends.forEach(function(friend){  %>
    <li class="friend">
    <% var friendName=Object.keys(friend)[0]  %>
    <% var friendUrl=friend[friendName] %>
    <a href= <%= friendUrl %> target="_blank" >
    <i class="fa fa-user" aria-hidden="true"></i>
    <%=  friendName %>
    </a>
    </li>
    <% })  %>
   
           </ul>
          </div>

        </div>
    </section>