 <section>
        <div class="left">
           
                <ul class="sidebar-ul">
                    <% config.category.forEach(function(category) {  %>
                    <li class="nav-item sidebar">
                        <% var url= "/categories/"+category+"/" %>
                        <a href=<%= url %> class="link">
        <i class="fa fa-jsfiddle" aria-hidden="true"></i>
        <%= category %>
      </a>
                    </li>
                    <% }) %>
                   
                </ul>
            
       </div>
        <div class="main">
            <div class="list-box  shadow ">
                <ul>
                    <% page.posts.each(function(post){ %>
                    <li class="article-item">
                            <a href="<%- url_for(post.path) %>" >                      
                            <div class="article-box">
                            <div class="box-image">
                            </div>
                            <div class="box-right">
                            <div class="title">
                            <%= post.title %>
                            </div>
                            <div class="info">
                            <% var date=post.date   %>
                            <% date=JSON.stringify(date,null,'\t').substr(1,10) %>
                           
                            <%= date %>
                            </div>
                            </div>
                            </div>
                            </a>
                    </li>
                     <% }) %>
                  
                </ul>
            </div>
            <div class="page">
            <%- paginator('/', [], {
  perPage: 10,
  format: 'page/%d/',
  layout: ['archive', 'index'],
  
}) %>
        </div>
        </div>
        <div class="right">
          <div class="social">
              <div class="slogan">
                我们在自己的世界里独自狂欢
              </div>
              <div class="link">
              <button class="btn btn-github">
              <% var githubUrl='https://github.com/'+theme.github  %>
              <a href= <%= githubUrl %> target="_blank">
             <i class="fa fa-github" aria-hidden="true"></i> GitHub
             </a>
              </button>

              <button class="btn btn-twitter">
               <% var twitterUrl='https://twitter.com/'+theme.twitter  %>
              <i class="fa fa-twitter" aria-hidden="true"></i> 
              <a href= <%= twitterUrl %> target="_blank">twitter
              </button>
              <button class="btn btn-weixin">
              <% var weixinUrl=theme.weixin %>
             <i class="fa fa-weixin" aria-hidden="true"></i> weixin
             <img src=<%= weixinUrl%> />
              </button>
              </div>
          </div>
          <div class="tag">
            <div class="btn-group">
            <button class="btn-tag">
            333
            </button>
            </div>
          </div>
          <div class="friends" >
          <div class="friends-header">
          <i class="fa fa-users" aria-hidden="true"></i>那些小伙伴们
          </div>
    <ul>
    <li class="friend">
    <a href="/333">
    <i class="fa fa-user" aria-hidden="true"></i>十年踪迹的博客
    月影大神
    </a>
    </li>
    <li class="friend">
    <a href="/333">
    <i class="fa fa-user" aria-hidden="true"></i>webzhao（文博老师）
    </a>
    </li>
    <li class="friend">
    <i class="fa fa-user" aria-hidden="true"></i>墨尘（年轻有想法的小伙）
    </li>   
    <li class="friend"> 
    <i class="fa fa-user" aria-hidden="true"></i>阿肆（肆爷、H5Shuo 创始人）
    </li>
    <li class="friend">
    <i class="fa fa-user" aria-hidden="true"></i>耗子么（有想法的小老鼠）
   </li>
   <li class="friend">
   <i class="fa fa-user" aria-hidden="true"></i> xinz 的博客（饺大王）
    </li>
    <li class="friend">
    <i class="fa fa-user" aria-hidden="true"></i>在线制作有声幻灯片（美女瓜神最新力作）
         </li>
           </ul>
          </div>

        </div>
    </section>