<article class="article main-body" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
       
        <%- post.content %>
      <% } %>
    </div>
    
  </div>
<div class="ds-thread" data-thread-key= "<%= post.key %>" data-title= "<%=post.title%>" data-url="<%=post.url%>">

</div>

  <!--上一篇下一篇 -->
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
