 <div class="social">
<div class="slogan">
  <%= theme.slogan %>
</div>
<div class="link">
<% if(theme.github!==undefined) { %>
<% var githubUrl='https://github.com/'+theme.github  %>

<a href= <%= githubUrl %> target="_blank">
<button class="btn btn-github">
<i class="fa fa-github" aria-hidden="true"></i> GitHub
</button>
</a>

<% } %>
   <% if(theme.twitter!==undefined) { %>

 <% var twitterUrl='https://twitter.com/'+theme.twitter  %>

<a href= <%= twitterUrl %> target="_blank" >
<button class="btn btn-twitter">
<i class="fa fa-twitter" aria-hidden="true"></i> 
twitter
</button>

</a>


<% } %>

<% if(theme.email!==undefined) { %>

<a href="mailto:<%= theme.email %> "  target="_blank" >
<button class="btn btn-email">
<i class="fa fa-envelope-o" aria-hidden="true"></i> Email
</button>
</a>


<% } %>

<% if(theme.weixin!==undefined) { %>
<button class="btn btn-weixin">
<% var weixinUrl=theme.weixin %>
<i class="fa fa-weixin" aria-hidden="true"></i> weixin
<img src=<%= weixinUrl%> />
</button>
<% } %>





</div>
</div>