<footer id="footer">
  <div class="outer">
     <% if(theme.since) { %>
     <div id="footer-info" class="inner">
     
      &copy;  <%=  theme.since %> - <%= date(new Date(), 'YYYY') %> 
       <%= config.author || config.title %><br>

      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      </br>
      theme <a href="http://github.com/zhangolve/olive">olive</a> by zhangolve
      </div>
      <% } %>
      <% if(!theme.since) { %>
      <div id="footer-info" class="inner">
     
      &copy;  <%= date(new Date(), 'YYYY') %> 
       <%= config.author || config.title %><br>

      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      </br>
      theme <a href="http://github.com/zhangolve/olive">olive</a> by zhangolve
      </div>
      <% } %>
     


     
    
  </div>
  <div class="to-top">
    <div class="toTop-btn">
    <div class="toTop-text">返回顶部</div>
  	<button class="toTop-button">
  		<i class="fa fa-arrow-up" aria-hidden="true"></i>
  	</button >
    </div>
  </div>
</footer>